@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "TASA Explorer", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--- Index ---*/
.login{
    background-image: url('../img/Fondo de Login.png');
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    width: 100vw;                   
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_login{
    width: 500px;
    height: 450px;
    background: rgba(22, 22, 22, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_login h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    color: #fff;
}

.input-login {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.1em;
    outline: none;
}

.btn-login {
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #0077cc;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

/*--- Reportes ---*/
.menu{
    position: fixed;
    top: 25vh;
    left: 0;
    width: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 9px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rep_logo{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_logo {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu_logo img {
    width: 80%;
    height: 65%;
    display: block;
}

.rep_logo h1 {
    color: #0a0a0ad8;
    font-size: 1.7em;
    text-align: center;
}


.list_op{
    margin-top: 5px;
}
.op{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
.op h4 a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #1e1e1eb0;
}

.op h4 a:hover{
    color: #0a0a0ad8;
    transform: scale(1.05);
    transition: transform 0.3s, color 0.3s;
}

.exit h4 a{
    margin-top: 40px;
}

.op.exit a {
    transition: background 0.3s, color 0.3s;
    border-radius: 8px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.op.exit a:hover {
    color: #f11915;
}

.op.exit a .material-symbols-outlined {
    transition: transform 0.3s, margin-right 0.3s;
    margin-right: 0px;
}
.op.exit a:hover .material-symbols-outlined {
    transform: translateX(-6px);
    margin-right: 5px;
}

.cont-padre{
    margin-left: 10%;
    padding-top: 8%;
    width: 75%;
    min-height: 100vh;
}
.cont-padre h1{
    margin-bottom: 10px;
    color: #0a0a0ad8;
}
.banner-name{
    margin-bottom: 30px;
    border-bottom: 2px solid #1e1e1eb0;
}
.cont-info{
    margin-top: 30px;
    padding: 0 20px;
}
.btn-pdf {
    position: absolute;
    right: 8%;
    margin-top: 2%  ;
    background: #ffeaea;
    color: #e53935;
    border: 2px solid #e53935;
    border-radius: 24px;
    padding: 12px 28px;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 2px 8px rgba(229,57,53,0.08);
}
.btn-pdf:hover {
    background: #e53935;
    color: #fff;
}